<!DOCTYPE html>
<html>
  <head>
    <title>Photo Swiper</title>

    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      body > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 4vw;
      }

      body > img {
        margin-left: 4vw;
      }

      ul {
        font-size: 1.1vw;
      }
    </style>

    <script src="/lib/zepto.js"></script>
    <script src="/scripts/defaults.js"></script>
  </head>

  <body>
    
    <div>
      <h1>Photo Swiper</h1>
      <img src="../icon_128.png">
      
      <h2>Thank you for trying Photo Swiper!</h2>
      
      <h2>Use cases:</h2>
      <ul>
        <li>Efficiency downloading multiple images</li>
        <li>Bypasses suppressed right-click event</li>
        <li>Finds hidden images</li>
      </ul>
    </div>
    
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/337/374/00a.jpg" />
  
  </body>
</html>
